body {
  margin: 0;
  padding: 0;
  color: #616272;
}
.btn{
 border: 1px solid;
 border-radius: 5px;
 padding: 3px 7px;
 font-weight: bolder;
 color: royalblue !important;
}
.btn:hover{
 animation: btn 4s infinite;
}
@keyframes btn{
 0%,100%{
  background-color: royalblue;
  color: white;
 }
 50%{
  background-color: inherit;
  color: royalblue;
 }
}
a, a:visited {
 text-decoration: none;
 color: inherit;
}
.container{
 margin: auto;
 width: 98%;
}
.txt-center{
 text-align: center;
}

.header{
 width: 100vw;
 background: #E7E7E7D6;
 position: fixed;
 top: 15px;
}
.header img{
 width: 30px;
 height: 30px;
}
.header .nav-container{
 display: flex;
 justify-content: space-around;
 align-items: center;
}
.header nav{
 width: 70%;
 display: flex;
 justify-content: space-between;
 font-weight: bolder;
 font-size: 12px;
}
.menu{
 transform: rotateY(180deg);
}
.menu,.favourite{
 transition: 1s;
}
.after-nav{
 position: relative;
 background: inherit
}
.menu-container, .fav-container{
 position: absolute;
 top: 0;
 width: 46%;
 height: 100vh;
 padding: 5px;
 transition: 1s;
 background: inherit;
}
.menu-container{
 left: -70%;
}
.fav-container{
 right: -70%;
}



.footer{
 width: 100%;
 background: #090A15;
 color: #616272;
 padding-top: 10px;
}
.getTouch{
 margin: 0 auto;
 max-width: 370px;
 display: flex;
 justify-content: space-between;
}