body {
  margin: 0;
  padding: 0;
}
a, a:visited {
 text-decoration: none;
 color: inherit;
}
.container{
 margin: auto;
 width: 98%;
}
.txt-center{
 text-align: center;
}

.header{
 background: rgba(255, 255, 255, 0.4);
 position: fixed;
 top: 15px;
}
.header img{
 width: 30px;
 height: 30px;
}
.header .nav-container{
 display: flex;
 justify-content: space-around;
 align-items: center;
}
.header nav{
 width: 70%;
 display: flex;
 justify-content: space-between;
 font-weight: bolder;
 font-size: 12px;
}
.menu{
 transform: rotateY(180deg);
}



.footer{
 width: 100%;
 background: #090A15;
 color: #616272;
 padding-top: 10px;
}
.getTouch{
 margin: 0 auto;
 max-width: 370px;
 display: flex;
 justify-content: space-between;
}